#SB2 {
    position:relative;
    width:800px;
    height:600px;
    border-style:none;
}

#SB2 canvas {
    position:absolute;
    z-index:1;
}

.overlay {
    z-index:2;
    position:absolute;
    visibility:hidden;
}

button.overlay {
    height:10%;
    width:30%;
    background-color:#333;
    box-shadow:2px 2px 10px #999;
    border-style:none;
    border-width:2px;
    font-family: Roboto, sans-serif;
    font-size:2.4em;
    letter-spacing:0.35em;
    color:#eee;
    transition:color ease-out 0.2s;
}
button.overlay:hover {
    color:#39B9ff;
    transition:color ease-out 0.2s;
}

input.overlay {
    height:10%;
    width:28%;
    background-color:rgba(0,0,0,0.8125);
    border-style:none;
    border-color:#333;
    border-width:3px;
    font-family: monospace;
    font-size:1.7em;
    padding:0 1%;
    text-align:center;
    color:#eee;
}

#SB2-title.overlay {
    pointer-events: none;
    width:100%;
    text-align:center;
    font-family: Roboto, sans-serif;
    font-size:3em;
    letter-spacing:0.15em;
    color:#666;
}

.key {
    pointer-events:none;
    text-align:center;
    vertical-align:middle;
    font-size:30px;
    font-family: Roboto, sans-serif;
    width:50px;
    height:50px;
    line-height:50px;
    border-style:none;
    border-width:2px;
    border-radius:2px;
    background-color:#333;
}

.p1 {
    color:#39B9ff;
    border-color:#1989f1;
}

.p2 {
    color:#febb3f;
    border-color:#fbab1f;
}
